<img src="https://images.cooltext.com/5268685.png" width="350" height="60" class="anime_test">
<div class="text-center font-weight-bold"><a href="/line">試しに使ってみる</a></div>
<div class = "container">
	<div class="wrapper">
		<form action="/sign_up" method="post" name="Login_Form" class="form-signin">       
		    <h3 class="form-signin-heading">新規登録</h3>
			  <hr class="colorgraph"><br>
			  <input type="text" class="form-control" name="s_name" placeholder="Username" required="" autofocus="" />
			  <input type="password" class="form-control" name="s_pass" placeholder="Password" required=""/>     		  
        <input type="password" class="form-control" name="s_pass_re" placeholder="確認Password" required>
        <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">新規登録</button>  			
				<a href="/login" id="new">やっぱりログイン</a>
		</form>			
	</div>
</div>
